*, 
*::after, 
*::before {
    box-sizing: border-box;
    font-family: 'Marck Script', cursive;
}

body {
    background-color: #d2cbcb;
}

header, section {
    padding: 0 20px;
}

.header-title {
    color: #444;
    text-align: center;
    margin-top: 60px;
    font-size: 60px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}

.header-text {
    color: #444;
    text-align: center;
    font-size: 24px;
}

.nick-wrap {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.nick-generator {
    text-align: center;
    font-style: italic;
    font-size: 48px;
    font-weight: 700;
    height: 40px;
    color: #353535;
}

.btn-generator {
    display: inline-block;
    height: 80px;
    width: 80px;
    font-weight: 400;
    text-align: center;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 100%;
    color: #fff;
    background-color: #444;
    border-color: #333;
    cursor: pointer;
}

.btn-generator:focus, .btn-generator:hover {
    text-decoration: none;
    outline: none;
}

.btn-generator:hover {
    color: #fff;
    background-color: #555;
}

@media (max-width: 450px) {
    .nick-generator {
        margin-bottom: 100px;
    }
}

@media (max-width: 320px) {
    .header-title {
        font-size: 40px;
    }

    .header-text {
        font-size: 15px;
    }

    .nick-generator {
        font-size: 32px;
        margin-bottom: 90px;
    }
}
